* {
  margin: 0;
  padding: 0;
  /* cursor: none; */
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media(max-width:500px) {
  * {
      cursor: auto;
  }

  .custom-cursor {
      display: none !important;
  }
}